.head h1{
    background-color: #a9a2be;
}
body{
    background:grey;color: black;
}
.header{
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around; 
    background-color: #BBE9FF;
    
}
.heading{
     padding: 2% 0 0 0;
    
}

.header .logo img{
    border: 1px solid #ddd;
    border-radius: 5%;
    padding: 5px;
    width: 150px;
    height: auto;
}

.header .logo img:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.container{
    background-color: white;
}

.navbar  {
    background-color: #d7e5e6;
    position: right;
    /* border-radius: 5px; */
    box-shadow: 10px;
   
    }