



{% extends "base.html" %}
{% load static %}
{% block head %}
{%block title %}EMS{%endblock%}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block container %}
<section class="login">
  <div class="row justify-content-center">
    <div class="col-sm-6">
        <h2 class="text-muted">Login</h2>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
        
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
           
            
          

         <div class="mb-3">
            <label for="exampleInputusername" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleInputusername" aria-describedby="emailHelp" name="username">
            </div>
          
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
          <p>Don't have an account <a href="{% url 'register'%}">Register Here</a></p>



        </form>
    </div>
</div>
</section>
 {%endblock%}